<% layout('layout') %>
<h1><%= comentario ? 'Editar Coment치rio' : 'Novo Coment치rio' %></h1>
<form action="<%= comentario ? '/comentarios/' + comentario.id + '?_method=PUT' : '/comentarios' %>" method="POST">
  <label>Tarefa: <input type="number" name="tarefa_id" value="<%= comentario ? comentario.tarefa_id : '' %>" required></label><br>
  <label>Usu치rio: <input type="number" name="user_id" value="<%= comentario ? comentario.user_id : '' %>" required></label><br>
  <label>Coment치rio: <textarea name="comentario"><%= comentario ? comentario.comentario : '' %></textarea></label><br>
  <label>Data: <input type="date" name="data_comentario" value="<%= comentario ? comentario.data_comentario : '' %>"></label><br>
  <button type="submit"><%= comentario ? 'Atualizar' : 'Criar' %></button>
</form>